/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */



@import "fonts/sans/FlandersArtSans";
@import "ref";


body{
    font-family: flanders_art_sans;
}

.breadcrumb li{
    color:white;
}

.trail-wrapper {
    background-color: #5BA294;
    border-bottom: 1px solid #5BA294;

    a{
        color:white;
    }

    .breadcrumb {
        background-color: transparent;
        margin-bottom: 0;
        float:left;
        > li {
            + li:before {
                color: white;
            }
        }
        > .active {
            color: white;
        }
    }
}

.navbar-header a{
    color:white;
    float:right;
    padding-top:10px;
}

.topheaderlinks{
    margin-left:10px;
    margin-right:10px;
    color:#B8B8B8;
    line-height:50px;
}

.list-group-item{
    border:none;
}

a.list-group-item{
    color:#5BA29B;
}

#aspect_eperson_PasswordLogin_field_submit{
    background-color:#497569;
    color:white;
    width:250px;
    height:40px;
}

.ds-button-field .btn .btn-primary{
    background-color:#497569;
    border-radius:0px;
}

#aspect_eperson_PasswordLogin_field_login_password{
    width:250px;
    border-radius:0px;
}

#aspect_eperson_PasswordLogin_field_login_email{
    width:250px;
    border-radius:0px;
}

.ds-option-set-head .h6{
    font-size:18px;
}

#contact_us_header{
    font-size: 15px;
    line-height:50px;
}

.box.content{
  font-size:20px;
  line-height: 130px;
}

.box {
    width: 100%;
    height: 130px;
    .content{
      font-size:20px;
    }
}

.subheadercontent {
    position: fixed;  /* remove from flow so sunset is placed on top */
    background-color:#4A766D;
}

span.contentwrapper{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.content{
    transform: skewX(-20deg);
    margin-left: 76px; /* give margin to push content away from left slanted edge */
    background-color:white;
    pointer-events: auto;
}

.slider {
    background-color:white;
    /* set initial width */
    width: 520px;

    /* hide the content that overflows (to allow second box to show through) */
    overflow: hidden;
    display: inline-block;

    /* skew container so that it has angled edge, and set up transition */
    transform: skewX(20deg);
    transition: width 1.2s ease-in-out;
    /* give negative margin to remove gap caused by left hand skew */
    margin-left: -76px;

    /* hide pointer events for unseen content */
    pointer-events: none;
}

// for the logo
.boxlogo {
    width: 50px;
    height: 100px;
}

.subheadercontentlogo {
    position: absolute;  /* remove from flow so sunset is placed on top */
  //  background-color:#4A766D;
}



.contentlogo{
    transform: skewX(-20deg);
    margin-left: 76px; /* give margin to push content away from left slanted edge */
    background-color:white;
    pointer-events: auto;
}

.sliderlogo {
    /* set initial width */
   // width: 520px;

    /* hide the content that overflows (to allow second box to show through) */
    overflow: hidden;
    display: inline-block;

    /* skew container so that it has angled edge, and set up transition */
    transform: skewX(20deg);
    transition: width 1.2s ease-in-out;
    /* give negative margin to remove gap caused by left hand skew */
    margin-left: -76px;

    /* hide pointer events for unseen content */
    pointer-events: none;
}


#logodiv{
    background-color:#E4E4E4 !important;
    width: 30px;
    height:50px;
}

#logodiv a
{
    transform:skewX(-20deg);
}

.subheader{
    color:#B8B8B8;
}

#subheader{
    height:130px;
}

.subheaderlogo{
    color:#B8B8B8;
}

#subheaderlogo{
    height:130px;
}

#lnespan{
    font-weight:bold;
}

#archiefspan{
    font-size:35px;
}

#footerdiv{
    border-top: 5px solid #40796D;
    padding-top:0px;
}

#dspacelink{
    color:#7DBDB9;
}

#skewedlogo
{
    transform: skewX(20deg);
    height:50px;
    background-color:#E4E4E4;
    margin-left:20px;
    width:20px;
}

#actualcontent
{
    margin-left:300px;
}

.iwgh2-navigation
{
    margin-left:-45px;
}

.navbar-header ul {
    margin-bottom: 0;
}

.navbar-header .navbar-toggle
{
    background-color:white;
}

.navbar-header .navbar-toggle span
{
    background-color:#4A766D;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: inline;
    }
}

@media (min-width: 991px) {
    .navbar-toggle {
        display: none;
    }
}

@media (max-width: 991px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px){
    .navbar-header {
        float: right;
    }
}

li.dropdown {
    list-style: none;
}

p.ds-paragraph.relation-headers {
  padding: 10px;
  background: $navbar-inverse-link-color;
}

footer .iw2-wrapper.iw2-default-margin {
  padding-left: 0;
}

span.header .iw2-wrapper.iw2-default-margin {
  padding-right: 0;
}

#aspect_general_NoticeTransformer_div_general-message {
    padding-top: 0px;

    p {
        white-space: pre-wrap;
    }
}

button[id^="com_atmire_app_xmlui_itemcloning_CloneItemTransformer_"] {
    margin-right:10px;
}